<a href="https://colab.research.google.com/github/jesusPasillas13/FCFM-MD-1866054/blob/main/Ej_Python_1866054.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1

In [19]:
matricula = 1866054
nombre = "Jesus Pasillas Moreno"
print (matricula, nombre)

1866054 Jesus Pasillas Moreno

Ejercicio 2

In [77]:

a1 = int(input("Introduce un numero:"))
b1 = int(input("Introduce otro numero:"))
print("Suma: ", a1+b1)
print("Resta: ", a1-b1)
print("Multiplicacion: ", a1*b1)
print("Division: ", a1/b1)
print("Exponente: ", a1**b1)

Introduce un numero:23
Introduce otro numero:2
Suma:  25
Resta:  21
Multiplicacion:  46
Division:  11.5
Exponente:  529

Ejercicio 3

In [51]:
x=0
lista1 = [1,2,3,4,5,6,7,8,9,10]
for i in range(10):
    lista1[i]=(i+1)*3
    x=x+lista1[i]

print(lista1)
print(x)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
165

Ejercicio 4

In [74]:

a1 = int(input("Introduce un numero para comprobar si es par, impar, primo o no primo:"))
if a1%2 == 0:
   print("El numero es par")
else:
  print("El numero es impar")
#primo o no primo
i=0
f=0
for i in range(2,a1):
  if a1%i == 0:
    f=f+1

if f == 0:
  print("El numero es primo")
else:
  print("El numero es no primo")

Introduce un numero para comprobar si es par, impar, primo o no primo:12
El numero es par
El numero es no primo

Ejercicio 5

Ejercicio tupla

In [100]:
x=True
y=10+20j
z=2.4542
w=1
print("x es", type(x))
print("y es", type(y))
print("z es", type(z))
print("w es", type(w))
t1=(1,2,3,4,5)
print("Primer valor de la tupla",t1[0])
print("Ultimo valor de la tupla",t1[-1])
t1 = t1.__add__(('xyz',))
t1 = t1.__add__(('zzz',))
t1

x es <class 'bool'>
y es <class 'complex'>
z es <class 'float'>
w es <class 'int'>
Primer valor de la tupla 1
Ultimo valor de la tupla 5

(1, 2, 3, 4, 5, 'xyz', 'zzz')

Ejercicio Listas

In [222]:
import random
r=range(1,250)
lista1=random.sample(r,40)
print(lista1)

def par(lista):
    par=list
    for x in lista:
        if x%2 == 0:
            par.append(x)
    return par
def impar(lista):
    impar=list
    for x in lista:
        if x%2 != 0:
            impar.append(x)
    return impar
listap=par(lista1)
print(listap)
listai=impar(lista1)
print(listai)

print("")
lp=len(listap)
li=len(listai)
print("Cantidad de pares: ",lp, "Cantidad de impares: ",li)

print("")
listai.sort()
listap.sort(reverse=True)
print("Pares: ",listap)
print("Impares: ",listai)

print("")
print("Longitud de lista: ", len(lista1))
print("Suma de los valores: ", sum(lista1))
print(" Numero menor de la lista: ", min(lista1))
print("Numero mayor de la lista: ", max(lista1))

[205, 133, 115, 153, 70, 29, 174, 182, 241, 211, 74, 11, 249, 34, 191, 109, 140, 62, 71, 78, 82, 218, 122, 119, 41, 15, 243, 144, 48, 55, 102, 139, 233, 197, 90, 35, 157, 56, 57, 96]
[247, 246, 246, 245, 245, 244, 243, 242, 240, 240, 239, 239, 238, 238, 237, 237, 237, 235, 235, 234, 233, 232, 231, 231, 230, 230, 227, 225, 224, 224, 223, 222, 221, 220, 220, 218, 218, 217, 215, 213, 212, 212, 210, 202, 201, 201, 200, 198, 198, 197, 196, 195, 195, 195, 194, 192, 192, 187, 186, 186, 185, 183, 182, 182, 182, 181, 179, 172, 171, 170, 170, 170, 168, 167, 165, 163, 162, 162, 161, 161, 160, 160, 158, 155, 153, 153, 153, 152, 152, 150, 148, 147, 146, 145, 144, 144, 142, 142, 141, 140, 140, 139, 139, 138, 137, 136, 134, 130, 127, 127, 125, 124, 124, 121, 120, 120, 117, 116, 114, 114, 111, 110, 110, 108, 107, 107, 106, 105, 101, 101, 99, 99, 99, 99, 99, 98, 97, 97, 97, 97, 96, 96, 96, 95, 95, 95, 95, 94, 94, 94, 94, 94, 94, 93, 93, 93, 93, 93, 93, 93, 92, 92, 92, 92, 91, 91, 91, 90, 90, 90, 89, 89, 89, 88, 88, 88, 87, 87, 87, 86, 86, 86, 86, 86, 85, 84, 84, 84, 84, 83, 83, 83, 82, 82, 82, 81, 81, 81, 81, 80, 80, 80, 79, 79, 79, 79, 79, 78, 78, 78, 78, 77, 77, 76, 76, 76, 75, 75, 75, 75, 74, 74, 74, 74, 73, 73, 72, 72, 72, 72, 72, 72, 71, 71, 71, 70, 70, 70, 70, 69, 69, 68, 68, 68, 67, 67, 67, 66, 66, 65, 65, 65, 65, 64, 64, 64, 63, 63, 63, 63, 63, 63, 62, 62, 62, 62, 61, 60, 60, 60, 60, 60, 60, 59, 59, 59, 59, 59, 59, 59, 59, 58, 58, 58, 58, 58, 58, 58, 57, 57, 57, 57, 57, 57, 57, 57, 56, 56, 55, 55, 55, 54, 54, 54, 54, 54, 54, 53, 53, 53, 53, 52, 51, 51, 51, 51, 50, 49, 49, 49, 48, 48, 48, 47, 47, 46, 46, 46, 46, 45, 45, 45, 44, 44, 44, 44, 43, 43, 43, 42, 42, 42, 42, 41, 40, 40, 40, 39, 38, 38, 38, 37, 37, 37, 37, 37, 37, 36, 36, 35, 35, 35, 34, 34, 34, 34, 34, 33, 33, 32, 32, 32, 32, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29, 29, 29, 29, 29, 28, 28, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 25, 25, 25, 24, 24, 24, 24, 23, 23, 23, 23, 22, 22, 22, 21, 21, 21, 20, 20, 20, 20, 19, 19, 18, 18, 18, 18, 17, 17, 17, 17, 16, 16, 16, 15, 15, 14, 14, 14, 14, 14, 14, 13, 12, 12, 11, 11, 11, 10, 10, 10, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 70, 174, 182, 74, 34, 140, 62, 78, 82, 218, 122, 144, 48, 102, 90, 56, 96]
[247, 246, 246, 245, 245, 244, 243, 242, 240, 240, 239, 239, 238, 238, 237, 237, 237, 235, 235, 234, 233, 232, 231, 231, 230, 230, 227, 225, 224, 224, 223, 222, 221, 220, 220, 218, 218, 217, 215, 213, 212, 212, 210, 202, 201, 201, 200, 198, 198, 197, 196, 195, 195, 195, 194, 192, 192, 187, 186, 186, 185, 183, 182, 182, 182, 181, 179, 172, 171, 170, 170, 170, 168, 167, 165, 163, 162, 162, 161, 161, 160, 160, 158, 155, 153, 153, 153, 152, 152, 150, 148, 147, 146, 145, 144, 144, 142, 142, 141, 140, 140, 139, 139, 138, 137, 136, 134, 130, 127, 127, 125, 124, 124, 121, 120, 120, 117, 116, 114, 114, 111, 110, 110, 108, 107, 107, 106, 105, 101, 101, 99, 99, 99, 99, 99, 98, 97, 97, 97, 97, 96, 96, 96, 95, 95, 95, 95, 94, 94, 94, 94, 94, 94, 93, 93, 93, 93, 93, 93, 93, 92, 92, 92, 92, 91, 91, 91, 90, 90, 90, 89, 89, 89, 88, 88, 88, 87, 87, 87, 86, 86, 86, 86, 86, 85, 84, 84, 84, 84, 83, 83, 83, 82, 82, 82, 81, 81, 81, 81, 80, 80, 80, 79, 79, 79, 79, 79, 78, 78, 78, 78, 77, 77, 76, 76, 76, 75, 75, 75, 75, 74, 74, 74, 74, 73, 73, 72, 72, 72, 72, 72, 72, 71, 71, 71, 70, 70, 70, 70, 69, 69, 68, 68, 68, 67, 67, 67, 66, 66, 65, 65, 65, 65, 64, 64, 64, 63, 63, 63, 63, 63, 63, 62, 62, 62, 62, 61, 60, 60, 60, 60, 60, 60, 59, 59, 59, 59, 59, 59, 59, 59, 58, 58, 58, 58, 58, 58, 58, 57, 57, 57, 57, 57, 57, 57, 57, 56, 56, 55, 55, 55, 54, 54, 54, 54, 54, 54, 53, 53, 53, 53, 52, 51, 51, 51, 51, 50, 49, 49, 49, 48, 48, 48, 47, 47, 46, 46, 46, 46, 45, 45, 45, 44, 44, 44, 44, 43, 43, 43, 42, 42, 42, 42, 41, 40, 40, 40, 39, 38, 38, 38, 37, 37, 37, 37, 37, 37, 36, 36, 35, 35, 35, 34, 34, 34, 34, 34, 33, 33, 32, 32, 32, 32, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29, 29, 29, 29, 29, 28, 28, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 25, 25, 25, 24, 24, 24, 24, 23, 23, 23, 23, 22, 22, 22, 21, 21, 21, 20, 20, 20, 20, 19, 19, 18, 18, 18, 18, 17, 17, 17, 17, 16, 16, 16, 15, 15, 14, 14, 14, 14, 14, 14, 13, 12, 12, 11, 11, 11, 10, 10, 10, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 70, 174, 182, 74, 34, 140, 62, 78, 82, 218, 122, 144, 48, 102, 90, 56, 96, 205, 133, 115, 153, 29, 241, 211, 11, 249, 191, 109, 71, 119, 41, 15, 243, 55, 139, 233, 197, 35, 157, 57]

Cantidad de pares:  533 Cantidad de impares:  533

Pares:  [249, 247, 246, 246, 245, 245, 244, 243, 243, 242, 241, 240, 240, 239, 239, 238, 238, 237, 237, 237, 235, 235, 234, 233, 233, 232, 231, 231, 230, 230, 227, 225, 224, 224, 223, 222, 221, 220, 220, 218, 218, 218, 217, 215, 213, 212, 212, 211, 210, 205, 202, 201, 201, 200, 198, 198, 197, 197, 196, 195, 195, 195, 194, 192, 192, 191, 187, 186, 186, 185, 183, 182, 182, 182, 182, 181, 179, 174, 172, 171, 170, 170, 170, 168, 167, 165, 163, 162, 162, 161, 161, 160, 160, 158, 157, 155, 153, 153, 153, 153, 152, 152, 150, 148, 147, 146, 145, 144, 144, 144, 142, 142, 141, 140, 140, 140, 139, 139, 139, 138, 137, 136, 134, 133, 130, 127, 127, 125, 124, 124, 122, 121, 120, 120, 119, 117, 116, 115, 114, 114, 111, 110, 110, 109, 108, 107, 107, 106, 105, 102, 101, 101, 99, 99, 99, 99, 99, 98, 97, 97, 97, 97, 96, 96, 96, 96, 95, 95, 95, 95, 94, 94, 94, 94, 94, 94, 93, 93, 93, 93, 93, 93, 93, 92, 92, 92, 92, 91, 91, 91, 90, 90, 90, 90, 89, 89, 89, 88, 88, 88, 87, 87, 87, 86, 86, 86, 86, 86, 85, 84, 84, 84, 84, 83, 83, 83, 82, 82, 82, 82, 81, 81, 81, 81, 80, 80, 80, 79, 79, 79, 79, 79, 78, 78, 78, 78, 78, 77, 77, 76, 76, 76, 75, 75, 75, 75, 74, 74, 74, 74, 74, 73, 73, 72, 72, 72, 72, 72, 72, 71, 71, 71, 71, 70, 70, 70, 70, 70, 69, 69, 68, 68, 68, 67, 67, 67, 66, 66, 65, 65, 65, 65, 64, 64, 64, 63, 63, 63, 63, 63, 63, 62, 62, 62, 62, 62, 61, 60, 60, 60, 60, 60, 60, 59, 59, 59, 59, 59, 59, 59, 59, 58, 58, 58, 58, 58, 58, 58, 57, 57, 57, 57, 57, 57, 57, 57, 57, 56, 56, 56, 55, 55, 55, 55, 54, 54, 54, 54, 54, 54, 53, 53, 53, 53, 52, 51, 51, 51, 51, 50, 49, 49, 49, 48, 48, 48, 48, 47, 47, 46, 46, 46, 46, 45, 45, 45, 44, 44, 44, 44, 43, 43, 43, 42, 42, 42, 42, 41, 41, 40, 40, 40, 39, 38, 38, 38, 37, 37, 37, 37, 37, 37, 36, 36, 35, 35, 35, 35, 34, 34, 34, 34, 34, 34, 33, 33, 32, 32, 32, 32, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29, 29, 29, 29, 29, 29, 28, 28, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 25, 25, 25, 24, 24, 24, 24, 23, 23, 23, 23, 22, 22, 22, 21, 21, 21, 20, 20, 20, 20, 19, 19, 18, 18, 18, 18, 17, 17, 17, 17, 16, 16, 16, 15, 15, 15, 14, 14, 14, 14, 14, 14, 13, 12, 12, 11, 11, 11, 11, 10, 10, 10, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]
Impares:  [249, 247, 246, 246, 245, 245, 244, 243, 243, 242, 241, 240, 240, 239, 239, 238, 238, 237, 237, 237, 235, 235, 234, 233, 233, 232, 231, 231, 230, 230, 227, 225, 224, 224, 223, 222, 221, 220, 220, 218, 218, 218, 217, 215, 213, 212, 212, 211, 210, 205, 202, 201, 201, 200, 198, 198, 197, 197, 196, 195, 195, 195, 194, 192, 192, 191, 187, 186, 186, 185, 183, 182, 182, 182, 182, 181, 179, 174, 172, 171, 170, 170, 170, 168, 167, 165, 163, 162, 162, 161, 161, 160, 160, 158, 157, 155, 153, 153, 153, 153, 152, 152, 150, 148, 147, 146, 145, 144, 144, 144, 142, 142, 141, 140, 140, 140, 139, 139, 139, 138, 137, 136, 134, 133, 130, 127, 127, 125, 124, 124, 122, 121, 120, 120, 119, 117, 116, 115, 114, 114, 111, 110, 110, 109, 108, 107, 107, 106, 105, 102, 101, 101, 99, 99, 99, 99, 99, 98, 97, 97, 97, 97, 96, 96, 96, 96, 95, 95, 95, 95, 94, 94, 94, 94, 94, 94, 93, 93, 93, 93, 93, 93, 93, 92, 92, 92, 92, 91, 91, 91, 90, 90, 90, 90, 89, 89, 89, 88, 88, 88, 87, 87, 87, 86, 86, 86, 86, 86, 85, 84, 84, 84, 84, 83, 83, 83, 82, 82, 82, 82, 81, 81, 81, 81, 80, 80, 80, 79, 79, 79, 79, 79, 78, 78, 78, 78, 78, 77, 77, 76, 76, 76, 75, 75, 75, 75, 74, 74, 74, 74, 74, 73, 73, 72, 72, 72, 72, 72, 72, 71, 71, 71, 71, 70, 70, 70, 70, 70, 69, 69, 68, 68, 68, 67, 67, 67, 66, 66, 65, 65, 65, 65, 64, 64, 64, 63, 63, 63, 63, 63, 63, 62, 62, 62, 62, 62, 61, 60, 60, 60, 60, 60, 60, 59, 59, 59, 59, 59, 59, 59, 59, 58, 58, 58, 58, 58, 58, 58, 57, 57, 57, 57, 57, 57, 57, 57, 57, 56, 56, 56, 55, 55, 55, 55, 54, 54, 54, 54, 54, 54, 53, 53, 53, 53, 52, 51, 51, 51, 51, 50, 49, 49, 49, 48, 48, 48, 48, 47, 47, 46, 46, 46, 46, 45, 45, 45, 44, 44, 44, 44, 43, 43, 43, 42, 42, 42, 42, 41, 41, 40, 40, 40, 39, 38, 38, 38, 37, 37, 37, 37, 37, 37, 36, 36, 35, 35, 35, 35, 34, 34, 34, 34, 34, 34, 33, 33, 32, 32, 32, 32, 31, 31, 31, 31, 30, 30, 30, 30, 30, 29, 29, 29, 29, 29, 29, 28, 28, 27, 27, 27, 27, 27, 27, 27, 26, 26, 26, 26, 26, 25, 25, 25, 24, 24, 24, 24, 23, 23, 23, 23, 22, 22, 22, 21, 21, 21, 20, 20, 20, 20, 19, 19, 18, 18, 18, 18, 17, 17, 17, 17, 16, 16, 16, 15, 15, 15, 14, 14, 14, 14, 14, 14, 13, 12, 12, 11, 11, 11, 11, 10, 10, 10, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]

Longitud de lista:  40
Suma de los valores:  4781
 Numero menor de la lista:  11
Numero mayor de la lista:  249

Ejercicio Diccionarios

In [226]:
dict1={'Aldo': 19, 'Hector': 20, 'Luis': 25, 'Melisa': 18}
print(dict1)

edad=list
for i in dict1:
  edad.append(dict1[i])
edad.sort()
print(edad)

nombres=dict1.keys()
for j in  dict1:
  print(j)

dict1['Maria']=32
dict1['Lalo']=10
print(dict1)

{'Aldo': 19, 'Hector': 20, 'Luis': 25, 'Melisa': 18}
[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 11, 11, 11, 11, 12, 12, 13, 14, 14, 14, 14, 14, 14, 15, 15, 15, 16, 16, 16, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 21, 21, 21, 22, 22, 22, 23, 23, 23, 23, 24, 24, 24, 24, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 28, 28, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 31, 31, 31, 31, 32, 32, 32, 32, 33, 33, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 36, 36, 37, 37, 37, 37, 37, 37, 38, 38, 38, 39, 40, 40, 40, 41, 41, 42, 42, 42, 42, 43, 43, 43, 44, 44, 44, 44, 45, 45, 45, 46, 46, 46, 46, 47, 47, 48, 48, 48, 48, 49, 49, 49, 50, 51, 51, 51, 51, 52, 53, 53, 53, 53, 54, 54, 54, 54, 54, 54, 55, 55, 55, 55, 56, 56, 56, 57, 57, 57, 57, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58, 58, 58, 59, 59, 59, 59, 59, 59, 59, 59, 60, 60, 60, 60, 60, 60, 61, 62, 62, 62, 62, 62, 63, 63, 63, 63, 63, 63, 64, 64, 64, 65, 65, 65, 65, 66, 66, 67, 67, 67, 68, 68, 68, 69, 69, 70, 70, 70, 70, 70, 71, 71, 71, 71, 72, 72, 72, 72, 72, 72, 73, 73, 74, 74, 74, 74, 74, 75, 75, 75, 75, 76, 76, 76, 77, 77, 78, 78, 78, 78, 78, 79, 79, 79, 79, 79, 80, 80, 80, 81, 81, 81, 81, 82, 82, 82, 82, 83, 83, 83, 84, 84, 84, 84, 85, 86, 86, 86, 86, 86, 87, 87, 87, 88, 88, 88, 89, 89, 89, 90, 90, 90, 90, 91, 91, 91, 92, 92, 92, 92, 93, 93, 93, 93, 93, 93, 93, 94, 94, 94, 94, 94, 94, 95, 95, 95, 95, 96, 96, 96, 96, 97, 97, 97, 97, 98, 99, 99, 99, 99, 99, 101, 101, 102, 105, 106, 107, 107, 108, 109, 110, 110, 111, 114, 114, 115, 116, 117, 119, 120, 120, 121, 122, 124, 124, 125, 127, 127, 130, 133, 134, 136, 137, 138, 139, 139, 139, 140, 140, 140, 141, 142, 142, 144, 144, 144, 145, 146, 147, 148, 150, 152, 152, 153, 153, 153, 153, 155, 157, 158, 160, 160, 161, 161, 162, 162, 163, 165, 167, 168, 170, 170, 170, 171, 172, 174, 179, 181, 182, 182, 182, 182, 183, 185, 186, 186, 187, 191, 192, 192, 194, 195, 195, 195, 196, 197, 197, 198, 198, 200, 201, 201, 202, 205, 210, 211, 212, 212, 213, 215, 217, 218, 218, 218, 220, 220, 221, 222, 223, 224, 224, 225, 227, 230, 230, 231, 231, 232, 233, 233, 234, 235, 235, 237, 237, 237, 238, 238, 239, 239, 240, 240, 241, 242, 243, 243, 244, 245, 245, 246, 246, 247, 249]
Aldo
Hector
Luis
Melisa
{'Aldo': 19, 'Hector': 20, 'Luis': 25, 'Melisa': 18, 'Maria': 32, 'Lalo': 10}

Ejercicio Set

In [237]:
set=[random.randint(1,25) for i in range(0,100)]
print(set)

print("el tamaño del set es", len(set))
x=0
list=[1,8,3,9,7]
i=1
for i in range(5):
    if list[i]in set:
       x=x+1
if x == 5:
  print("Todos los valores de la lista estan en el set")

[8, 13, 16, 9, 1, 18, 7, 23, 9, 4, 1, 9, 4, 14, 24, 4, 19, 3, 15, 24, 4, 13, 9, 7, 9, 1, 4, 20, 8, 9, 9, 11, 1, 19, 1, 6, 25, 6, 3, 18, 10, 12, 21, 7, 23, 20, 24, 22, 25, 9, 12, 1, 25, 11, 20, 13, 22, 22, 12, 4, 7, 19, 12, 14, 4, 18, 2, 10, 16, 9, 24, 24, 1, 16, 8, 24, 12, 19, 7, 20, 13, 20, 22, 19, 20, 19, 8, 15, 4, 6, 16, 12, 21, 22, 19, 23, 17, 12, 10, 10]
el tamaño del set es 100
Todos los valores de la lista estan en el set